body {
    margin: 0;
    padding: 0;
    background-image: url(garden.jpg)
}

.login {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.form {
    padding: 80px 80px 80px 80px;
    background: black;
    border-radius: 10px;
}

.name {
    padding: 8px;
    margin-bottom: 15x;
    border: none;
    border-bottom: 2px solid white;
    background: transparent;
    width: 200px;
    color: white;
    font-size: medium;
}

.button {
    border-radius: 50px;
    padding: 10px 20px;
    background: blue;
    color: white;
    margin-top: 10px;
    margin-left: 50px
}

a {
    font-size: 15px;
    margin-top: 10px;
    padding-top: 8px;
}

img {
    margin-left: 130px;
    margin-top: -40px;
    position: absolute;
}